@import "_variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $accent-color;
}

body {
  background-color: $background-color;
  color: $foreground-color;
  margin: auto;
  max-width: $content-width;
  padding: $content-padding;
}

.darkmode {
  background-color: $color-darkmode-background;
  color: $color-darkmode-foreground;
  .darkmode-button {
    fill: $color-darkmode-foreground;
  }
}

.darkmode-button {
  border: none;
  background: none;
  cursor: pointer;
  fill: $foreground-color;
}

.float-right {
  float: right;
}

.page-center {
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 64px;
  margin: 0;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
